%section.slide
  %h2 Thank you for coming
  %h3 We hope you enjoyed the talk

%section.slide
  %h2
    Questions/ Contact
  %h3 Any questions
  %br
  %h3 Contact
  - height = "200px"
  .person
    %img{src: "images/alex.jpg", height: height}
    %strong{:style => 'font-size: 1.8em'} Alex Gibson
    %br
    %strong @PrototypeAlex
  .person
    %img{src: "images/graham.jpg", height: height}
    %strong{:style => 'font-size: 1.8em'} Graham Jenson
    %br
    %strong graham.jenson@maori.geek.nz
  %img.main-logo{src: 'images/hashbang-logo.png'}

%section.slide
  %h2 References
  %ul
    %li http://www.reddit.com/r/dataisbeautiful


