%section.slide#opening
  %h1
    Visualising Data
  %img.main-logo{src: 'images/hashbang-logo.png'}

%section.slide#who-we-are
  %h2
    Who are we?
  %ul
    %li.slide#who-alex.pull-left
      .pull-left
        %img{src: "images/alex.jpg"}
      .pull-left
        %strong Alex Gibson
        %p Recent Massey BEng graduate, co-founded Hashbang.
        %p Is interested in design and user experience of visualisation.
    %li.slide#who-graham.pull-left
      .pull-left
        %img{src: "images/graham.jpg"}
      .pull-left
        %strong Graham Jenson
        %p 99% Massey PhD graduate, founded Maori Geek, works with Hashbang.
        %p Is interested in the data and uses of visualisation.
    %li.slide#who-together.pull-left
      .pull-left
        %img.mix-n-mash-logo{src: 'images/logo-mixandmash-tagless.png'}
      .pull-left
        %strong Combined
        %p  We've worked on projects such as Plysit and more notably 100 Companies.
        %p Alex on visualisation and front end, Graham on data collection and processing.



%section.slide
  %h2 Why we're here
  %ul
    %li.slide
      %strong Big Data
      %p Big Data is the new National Library's inaugural programme of exhibitions, seminars, and workshops.
    %li.slide
      %strong We ♥ Big Data
      %p Data can be used to illuminate difficult to understand topics and allow people to make better decisions.
    %li.slide
      %strong We ♥ Good User Experience
      %p How a user experiences a system will impact their perspective and feeling of the system.
    %li.slide
      %strong Data + Great User Experience = Beautiful Data Visualisation = Our Goal
      %p A user should be comfortable interacting and exploring data.
      %p The data should not lie, and be open.

%section.slide
  %h2 Why you should care
  %ul
    %li.slide
      %strong Lots of data is becoming available.
    %li.slide
      %strong This data can be used to make your life easier by giving you a tool to make better decisions.
    %li.slide
      %strong You own the data. You are the data.
      %p The data is about where you live, who you are, what you buy, where you work and your family.
