%section.slide#thegood
  %h1
    Tools

%section.slide
  %h2 Protovis
  %a{:href => 'http://mbostock.github.com/protovis/ex/cars-full.html', :target => '_blank'}
    %img{:src => 'images/parallel-coords.png'}

%section.slide
  %h2 D3
  %iframe{width: "1000", height: "700", scrolling: "no", src: "http://www.koalastothemax.com/"}


%section.slide
  %h1
    The Good, the Bad and the Ugly

%section.slide#theugly
  %h1
    The Ugly

%section.slide
  %img.pull-left{height: "90%", src: "images/weather-ny.gif", :style => 'margin-top: 100px'}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/ugly2.jpg"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/ink.jpg"}

%section.slide#thebad
  %h1
    The Bad

%section.slide
  %img.pull-left{width: "100%", height: "90%", src: "images/sugargram.png", :style => 'margin-top: 20px'}

%section.slide
  %h2 USA Today
  %img.pull-left{width: "90%", height: "90%", src: "images/stupid1.jpg"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/stupid2.jpg"}


%section.slide#thegood
  %h1
    The Good

%section.slide{:style => 'background-color: black;'}
  %img.pull-left{src: "images/lovehate.png", style: 'margin: auto; margin-top: 140px;'}

%section.slide
  %img.pull-left{src: "images/tornado.jpg", style: 'margin: auto; margin-top: 10px;'}

%section.slide
  %img.pull-left{width: '100%', height: '80%', src: "images/living.png", style: 'margin: auto; margin-top: 20px;'}

%section.slide
  %h2 http://blog.okcupid.com/
  %img.pull-left{width: "90%", height: "90%", src: "images/okcupid.png"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/billion-dollar.png"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/billion-dollar-2.png", :style => 'margin-top: 100px'}

%section.slide
  %h2 Breaking the Taboo
  - height = 400
  - width = 600
  %ul
    %li.slide
      %a{href: "http://swf.tubechop.com/tubechop.swf?vurl=8UtNF-Le2L0&start=2539&end=2559&cid=736426", target: "_blank"}
        Global Visualisation
    %li.slide
      %a.slide{href: "http://swf.tubechop.com/tubechop.swf?vurl=8UtNF-Le2L0&start=2698&end=2710&cid=736443", target: "_blank"}
        Damage
%section.slide
  %h1
    %a{href: 'http://workshop.chromeexperiments.com/projects/armsglobe/', target: '_blank'}Arms Globe