%section.slide
  %h1
    The Ugly, the Bad and the Good Visualisations

%section.slide#theugly
  %h1
    The Ugly
  %ul
    %li.slide

%section.slide#thebad
  %h1
    The Bad

%section.slide#thegood
  %h1
    The Good

%section.slide#thegood

  %img.pull-left{width: "90%", height: "90%", src: "images/ink.jpg"}