%section.slide#thegood
  %h1
    Tools

%section.slide
  %h2 Protovis
  %iframe{width: "1000", height: "700", scrolling: "no", src: "http://mbostock.github.com/protovis/ex/cars-full.html"}

%section.slide
  %h2 D3
  %iframe{width: "1000", height: "700", scrolling: "no", src: "http://www.koalastothemax.com/"}


%section.slide
  %h1
    The Ugly, the Bad and the Good Visualisations

%section.slide#theugly
  %h1
    The Ugly

%section.slide
  %h2 NY Times
  %img.pull-left{width: "90%", height: "90%", src: "images/ugly1.jpg"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/ugly2.jpg"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/ink.jpg"}

%section.slide#thebad
  %h1
    The Bad

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/smbcstat.png"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/xkcd1.png"}

%section.slide
  %h2 USA Today
  %img.pull-left{width: "90%", height: "90%", src: "images/stupid1.jpg"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/stupid2.jpg"}


%section.slide#thegood
  %h1
    The Good

%section.slide
  %img.pull-left{src: "images/lovehate.jpg", style: 'margin: auto; margin-top: 200px;'}

%section.slide
  %img.pull-left{src: "images/tornado.jpg", style: 'margin: auto; margin-top: 10px;'}

%section.slide
  %img.pull-left{width: '100%', height: '80%', src: "images/living.png", style: 'margin: auto; margin-top: 20px;'}

%section.slide
  %h2 http://blog.okcupid.com/
  %img.pull-left{width: "90%", height: "90%", src: "images/okcupid.png"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/billion-dollar.png"}

%section.slide
  %img.pull-left{width: "90%", height: "90%", src: "images/billion-dollar-2.png", :style => 'margin-top: 100px'}

%section.slide
  %h1
    %a{href: 'http://workshop.chromeexperiments.com/projects/armsglobe/', target: '_blank'}Arms Globe