%section.slide
  %h1 Mix and Mash

%section.slide
  %h2 Sir Paul Callaghan's Vision
  .pull-left
    %img{src: "images/paul.jpg"}
  %ul.pull-left
    %li.slide
      %strong A renowned New Zealand Physicist (magnetic resonance).
    %li.slide
      %strong Why is New Zealand poor?
      %p
        We cannot even afford the medicine we want.
      %p.slide
        Sir Paul had to go to the UK for his choice of cancer treatment.
    %li.slide
      %strong It must be us, and the decisions we make.
      %p
        Lets examine those decisions, and see where we are going wrong.

%section.slide
  %h2 100 Companies
  %img{src: "images/100companies.png"}
  %ul
    %li.slide
      %strong Lets enter Mix and Mash and use this as an opportunity to check some of Sir Paul's assertions.
      %p What can we back up with data, and present in a user friendly way.
    %li.slide
      %strong Interactive Visualisation
      %p We wanted people to be able to play with New Zealands economy.

%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/", target: "_blank"}
      The Overview
  %ul
    %li.slide
      3D Prosperity
      %ol
        %li.slide GDP per capita (how much each person makes for the country)
        %li.slide Mean wage (How much people make for themselves)
        %li.slide Average hours worked (how hard people work)
    %li.slide
      %strong Standards focused
      %ul
        %li ANZSIC6 (Industry Classification)
        %li NZHSC (New Zealand Harmonised System Classification)
        %li GDP and QES (Employment survey) Quarterly reports
        %li OECD Statistics
        %li Australian Statistics
      %p{:style => 'width: 100%; text-align: center; margin-left: -2em'}
        %strong Allows composition of data

%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/", target: "_blank"}
      The Overview
  %ul
    %li.slide
      %p One Dashboard to rule them all.
    %li.slide
      %p Intention was to show as much information about New Zealands current status.
    %li.slide
      %p Problems Faced
      %ol
        %li Overexposure to information
        %li User Focus
        %li Colour Usage
        %li Information Architecutre


%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/tourism", target: "_blank"}
      The Tourist Magnet
  .quote
    %strong "The fool wanders, a wise man travels."
    %cite -- Thomas Fuller
  %ul
    %li.slide
      %p
        %strong Question:
        Is increasing our tourism a good idea?

    %li.slide
      %p
        %strong Sir Paul's Assertion:
      %p More tourists require more hospitality workers who work hard with less hours and low pay.
      %p Lowers green image with destruction of popular DOC walks.
    %li.slide
      %p
        %strong Our Response:
      %p Scale tourism workers with number of tourists, its effects on prosperity.
      %p Where do all these people stay?


%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/dairy", target: "_blank"}
      Land of the long green farm
  .quote
    %strong "Farming looks mighty easy when your plow is a pencil, and you're a thousand miles from the corn field."
    %cite -- Dwight D. Eisenhower
  %ul
    %li.slide
      %p
        %strong Question:
        Fonterra is doing well, so is more dairy better?
    %li.slide
      %p
        %strong Sir Paul's Assertion:
      %p Farming is hard work, long hours and a relatively low pay.
      %p Destroys New Zealands clean green image.
    %li.slide
      %p
        %strong Our Response:
      %p More cows less National forests, houses.
      %p
        %strong Fonterra is manufacture not famring.

%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/mining", target: "_blank"}
      Black Gold
  .quote
    %strong "Truth will rise above falsehood as oil above water."
    %cite -- Miguel de Cervantes
  %ul
    %li.slide
      %p
        %strong Question:
        We have plenty of mineral wealth, why not dig it up?
    %li.slide
      %p
        %strong Sir Paul's Assertion:
      %p Sell our National Soul.
      %p Dig up all our land, sacrificing our image for such short term gains.
    %li.slide
      %p
        %strong Our Response:
      %p Using the most optimistic measures, how much longer can New Zealand mine?
      %p About half the turnover of mining goes towards GDP.

%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/mining", target: "_blank"}
      Black Gold

  %ul
    %li
      %h4 Dig up all of New Zealand and get 30% increase in GDP for a single year
      %br
      %br

    %li{:style => 'list-style: none; margin-left: -2em'}
      %h4{:style => 'text-align: center;'}
        Estimates on estimates!
        %br
        Barker report estimates between 79 and 1,144 million barrels oil in Taranaki basin.


%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/manufacturing", target: "_blank"}
      Made in NZ
  .quote
    %strong "Sell the sizzle, not the steak."

  %ul
    %li.slide
      %p
        %strong Question:
        If exports are so good, then what exactly are we exporting?
    %li.slide
      %p
        %strong Sir Paul's Assertion:
      %p We are good at what we are good at!
      %p Manufacturing niche products for overseas
    %li.slide
      %p
        %strong Our Response:
      %p What industries are exporting what?
      %p And where do the exports go?

%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/manufacturing", target: "_blank"}
      Made in NZ
  %ul
    %li
      %p
        %strong Industry to export is impossible
      %p The ANZSIC6 (Industry Classification) has no direct mapping to the NZHSC (New Zealand Harmonised System Classification) Trade.
      %p Currently New Zealand has no guide to see what industries are exporting what products.
      %p How can we make investment judgments if we don't know how we are making money?

%section.slide
  %h2
    %a{href: "http://mash.hashbang.co.nz/companies", target: "_blank"}
      100 Companies
  .quote
    %strong "Technology does not drive change -- it enables change."
  %ul
    %li.slide
      %p
        %strong Question:
        How then do we make New Zealand prosperous?
    %li.slide
      %p
        %strong Sir Paul's Assertion:
      %p Creating 100 top manufacturing/technology companies will make us prosperous.
    %li.slide
      %p
        %strong Our Response:
      %p Lets artificially add these companies to our economy and see what happens.
      %p Using TIN100 rankings, Wikipedia, company web sites.
      %p Log/Log relationship between revenue to employees


%section.slide
  %h2 Future/After thoughts
  %ul{:style => 'list-style: none; margin-left: 0; text-align: center'}
    %li.slide
      %p
        %strong References
      %p
        As open as can be made. All assumptions documented.
    %li.slide
      %p
        %strong Design
      %p
        The visualisations aren't perfect, but hey, we only had one month.

    %li.slide
      %p
        %strong Disclaimer
      %p
        We are computer scientists not economists, our models are simple and are not validated.

%section.slide
  %h1 Intermission / Questions