%section.slide
  %h1
    The Psychology of Data Visualisation

%section.slide
  %h1
    Why use Data Visualisation....

%section.slide.deck-container-vertical
  %h2 How do we understand Data Visualisations?
  %ul
    %li.slide
      Imagine you come accross a visualiastion you've never before seen.
      %br
      %br
    %li.slide
      Intially your brain has no idea what it's looking at.
      %br
      %br
    %li.slide
      Then through a flood sensory information we begin <strong>examine</strong> the visualisation.
      %br
      %br
    %li.slide
      Your <strong>focus</strong> jumps around the place and builds a mental model of the image.
      %br
      %br

%section.slide
  %h2 How do we understand Data Visualisations?
  %img{:src => 'images/unemployment-line.gif'}


%section.slide
  %h2 How do we understand Data Visualisations?
  %ul
    %li{:style => 'opacity: 0.4;'}
      Imagine you come accross a visualiastion you've never before seen.
      %br
      %br
    %li{:style => 'opacity: 0.4;'}
      Intially your brain has no idea what it's looking at.
      %br
      %br
    %li{:style => 'opacity: 0.4;'}
      Then through a flood sensory information we begin <strong>examine</strong> the visualisation.
      %br
      %br
    %li{:style => 'opacity: 0.4;'}
      Your <strong>focus</strong> jumps around the place and builds a mental model of the image.
      %br
      %br
    %li.slide
      The way in which the visualisation presents the data to the eye is called the viewing architecture.
      %br
      %br
    %li.slide
      The process up untill now has occured in your brains visual cortex, and all happened insanely fast.
      %br
      %br

%section.slide
  %h2 How do we understand Data Visualisations?
  %img{:src => 'images/visual-cortex.png'}


%section.slide
  %h2 How do we understand Data Visualisations?
  %ul
    %li.slide
      You have no inherient meaning of the information, however your brain quickly maps it against past <strong>memories</strong>.
      %br
      %br
    %li.slide
      This is where we begin to transition away from the visual cortex toward the cerebral cortex.
      %br
      %br


%section.slide
  %h2 How do we understand Data Visualisations?
  %img{:src => 'images/frontal-lobe.png'}

%section.slide
  %h2 How do we understand Data Visualisations?
  %ul
    %li{:style => 'opacity: 0.4;'}
      You have no inherient meaning of the information, however your brain quickly maps it against past <strong>memories</strong>.
      %br
      %br
    %li{:style => 'opacity: 0.4;'}
      This is where we begin to transition away from the visual cortex toward the cerebral cortex.
      %br
      %br
    %li.slide
      We then analyse the information, and think about what it means to us.
      %br
      %br
    %li.slide
      This is substainally slower and less efficient than the visual processing.
      %br
      %br
    %li.slide
      Traditional data presentation made heavy use of <strong>thinking</strong> (i.e. cognition).
      %br
      %br

%section.slide
  %h2 How do we understand Data Visualisations?
  %img{:src => 'images/brain-balance.png'}

%section.slide
  %h1
    Data visualisation shifts the balance towards greater use of visual perception.

%section.slide
  %h2
    Leveraging the Visual Cortex
  %ul
    %li
      Psychology has made significant leway on how our brain processes visual information.
      %br
      %br
    %li
      The more we push onto the visual cortext, the more we analytical sensemaking we can push onto the cerebral cortex.
      %br
      %br
    %li
      The Gastalt School of Psychology have serveral principles that show how our brain organises data.
      %br
      %br

%section.slide
  %h2 Gestalt - Proximity
  %img{:src => 'images/gestalt-proximity.png'}

%section.slide
  %h2 Gestalt - Similarity
  %img{:src => 'images/gestalt-similarity.png'}

%section.slide
  %h2
    Leveraging the Visual Cortex
  %ul
    %li{:style => 'opacity: 0.4;'}
      Psychology has made significant leway on how our brain processes visual information.
      %br
      %br
    %li{:style => 'opacity: 0.4;'}
      The more we push onto the visual cortext, the more we analytical sensemaking we can push onto the cerebral cortex.
      %br
      %br
    %li{:style => 'opacity: 0.4;'}
      The Gastalt School of Psychology have serveral principles that show how our brain organises data.
      %br
      %br
    %li.slide
      This means we can encode massive amounts of information visually, it's currently the best weapon we have in the fight against big data.
      %br
      %br
    %li.slide
      These techniques are good, but they are just one part of a large puzzle.

%section.slide
  %h2
    Visualisation Form
  %ul
    %li.slide
      Statistical data is abstract, our goal is to give it form to communicate a story, a concept, an idea.
      %br
      %br
    %li.slide
      The form can take many shapes, each can tell a different story from the same data.
      %br
      %br
    %li.slide
      Tables do two things well, they express values precisely, and provide an excellent means to lookup values.
      %br
      %br
      %p{:style => 'text-align:center; display: block;'}
        <strong>New Zealand Unemployment</strong>
      %img{:src => 'images/nz-unemployment-table.png', :style => 'margin-left: 0;'}
    %li.slide
      But what if I want to tell the story of New Zealands unemployment rate over 15 years?

%section.slide
  %h2
    Visualisation Form
  %img{:src => 'images/unemployed-line.png'}

%section.slide
  %h2
    Visualisation Form
  %ul
    %li.slide
      Instantly we are able to see patterns, trends and the beginnings of s story unfolds.
      %br
      %br
    %li.slide
      You might also start asking yourself questions, such as:
      %br
      %br
    %li.slide
      What caused the drop leading to 2008?
      %br
      %br
    %li.slide
      Why are we climbing back up towards our unemployment peak?
      %br
      %br
    %li.slide
      Unfortunately I'm don't hold the answers to these questions. (Any economists in the room?)


%section.slide
  %h2 False perspectives, bias and other naughty things
  .quote
    %strong "Optical Illusions. They should call them brain failures. We are poor data taking devices."
    %cite -- Niel deGrasse Tyson
  %img#ilus{:src => 'images/lie0.jpg', onClick: "$('#ilus').toggleClass('rotate270')"}

%section.slide
  %h2
    We are easily tricked
  %img.slide{:src => 'images/lie1.jpg'}
  %ul
    %li.slide
      %strong
        Visualisations should never enforce opinions.
      %p
        Guide, not force.
    %li.slide
      %strong Visualisations should not misrepresent data.
      %p
        Show the truth.
    %li.slide
      %strong People will take away what they want.

%section.slide
  %h2 A deliberate attempt to mislead
  %img{:src => 'images/lie2.png'}
  %h3 Less sleep means more accidents.
  %ul
    %li.slide
      Different charts with different scales, ticks are different (left = 100, right = 200)
    %li.slide
      Zoomed in scale emphasises small differences.
    %li.slide
      No context in which to judge the information

%section.slide
  %h2 Good and Better
  .slide
    %strong.pull-left Good
    %img.pull-left{:src => 'images/better1.png'}
  %br
  .slide
    %strong.pull-left Better
    %img.pull-left{:src => 'images/better2.png'}
